.footer {
  margin-top: 50px;
  padding: 20px 10px;
  border-top: 1px solid #ddd;

  display: flex;
  justify-content: space-between;

  font-size: 14px;
  color: #555;
}

.footer a {
  text-decoration: none;
  color: #ff4500;
  font-weight: 500;
}
